/* ここから下に記載していく */
/* ここからヘッダー */
.header__nav {
  display: flex;
}

.header__nav li {
  margin-left: 40px;
}

/* header */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* ここからメインビジュアル */
.mainvisual {
  height: 400px;
  background: url("../img/mainbg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.mainvisual__title {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding-top: 180px;
}
.mainvisual__subtitle {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

/* Aboutエリア */
.about {
  text-align: center;
  margin: 50px 0;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.about__title {
  font-size: 30px;
  font-weight: bold;
  color: #ffd61a;
  margin-bottom: 20px;
}

.about__subtitle {
  margin-bottom: 20px;
  font-size: 20px;
}

.about__text {
  margin-bottom: 20px;
  text-align: center;
}

/* imgBox */
.imgBox {
  display: flex;
  margin-bottom: 50px;
}

.imgBox p {
  width: 25%;
}

.imgBox p img {
  width: 100%;
}

/* course */
.course {
  margin: 50px 0;
}

.course__title {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.course__text {
  text-align: center;
  font-size: 16px;
  margin: 0 70px;
}

.course__box {
  margin-top: 50px;
}

.course__inner {
  display: flex;
}

.course__content {
  width: 50%;
  display: flex;
  align-items: center;
}

.course__content__right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.course__content img {
  width: 100%;
  vertical-align: top;
}

.content__title {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 40px;
}

.content__text {
  width: 100%;
}

.content__left {
  width: 70%;
  margin-left: 50px;
}

.content__right {
  width: 70%;
  margin-right: 50px;
}

/* news */

/* NEWS */
.news{
  width: 100%;
  height: 780px;
  text-align: center;
  padding-bottom: 60px;
}
.news__title{
  font-size: 30px;
  color:black;
  text-align: center;
  margin-top: 30px; 
  padding-top: 50px; 
  padding-bottom: 50px;
}
.news__subtitle{
  font-size: 25px;
  font-weight: 300;
  text-align: center;
  margin-top: 20px; 
}
.news img{
  width: 100%; 
  margin: 10px;  
  margin-top: 50px; 
}
.news__cards{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.news__day{
  font-size: 20px; color:black;
  text-align: left;
  margin: 10px;
  padding-bottom: 30px;
}
.news__test{
  font-size: 20px; color:black;
  text-align: center;
  margin: 10px;
}

.imgBox p{
  width: 25%;
}

.imgBox p img{
  width: 100%;
}

.access{
  margin-left: auto;
  margin-right: auto;
  background-color: gainsboro;
  padding-top: 150px;
  text-align: center; 
}
.access__title{
  font-size: 30px;
  text-align: center;
  padding-top: 60px; 
 }
.access__subtitle{
  font-size: 20px;
  text-align: center;
  padding-top: 60px; 
  padding-bottom: 60px;  
}

.access__item{
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
  display: flex;
}
.access__item__label{
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-size: 18px;  
  text-align: center;
}
.access__text {
  flex: 1;
  width: 100%;
  max-width: 410px;
  font-size: 18px;
  text-align: center;
}

.CONTACT {
  text-align: center;
  margin: 50px 0;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.CONTACT__title {
  font-size: 30px;
  font-weight: bold;
  color: black;
  margin-bottom: 30px;
}

.CONTACT__subtitle {
  margin-bottom: 60px;
  font-size: 20px;
}

.CONTACT__text {
  margin-bottom: 30px;
  text-align: center;
}





